head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title="AP1"
  meta(name="description" content="Algorísmia i Programació 1")
  meta(name="author" content="Jordi Petit")
  link(rel="stylesheet", href="css/main.css")
